{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <table class="table">
            <tr>
                <th class="col-md-2">Имя</th>
                <th class="col-md-2">Возраст</th>
                <th class="col-md-2">Испытание</th>
                <th class="col-md-2">Зачислить в падаваны?</th>
            </tr>
        {% for candidate in candidates %}
            <tr>
                <th class="col-md-2">{{ candidate.name }}</th>
                <th class="col-md-2">{{ candidate.age }}</th>
                <th class="col-md-2">
                    <button class="btn btn-info" id="b{{ candidate.id }}">Посмотреть результаты</button>
                    <div id="rb{{ candidate.id }}" style="display: none">
                    {% for result in results %}
                        {% if result.quiz.candidate_id.id == candidate.id %}
                            <p>{{ result.question.question }} - {{ result.answer|yesno:"Да, Нет, Затрудняюсь ответить" }}</p>
                        {% endif %}
                    {% endfor %}
                    </div>
                </th>
                {% csrf_token %}
                <th class="col-md-2" id="data" data-id="{{ candidate.id }}" data-url="{% url 'jediorder:choice-padawan' %}">
                    <button class="btn btn-success" id="button_padawan">Зачислить</button>
                </th>
            </tr>
        {% endfor %}
        </table>
    </div>

    {% load static %}
    {% block javascript %}
        <script src="{% static 'scripts/base.js' %}"></script>
    {% endblock %}

{% endblock %}
