{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block content %}
    <div class="container">
        <form action="{% url 'jediorder:create-candidate' %}" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% bootstrap_form form %}
            <input class="btn btn-danger" type="submit" value="Далее"/>
        </form>
    </div>
{% endblock %}