{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
     <div class="alert alert-success">
         <h4>Спасибо за выполнение теста!</h4>
         <h5>Как только джедаи рассмотрять результаты вашего испытания, вам придет уведомление.</h5>
     </div>
{% endblock %}