{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="container">
        <table class="table table-hover">
            <tr>
                <th class="col-md-offset-4"><p>Джедай</p></th>
                <th class="col-md-4"><p>Планета обучения</p></th>
            </tr>
        {% for jedi in jedi_list %}
            <tr>
                <th class="col-md-offset-4">
                    <a href="{% url 'jediorder:candidates-in-padawan' id=jedi.planet.id %}">
                        {{ jedi.name }}
                    </a>
                </th>
                <th class="col-md-4">
                    <p>{{ jedi.planet }}</p>
                </th>
            </tr>
        {% endfor %}
        </table>
    </div>
{% endblock %}