{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <div class="container">
        {% csrf_token %}
        <form method="POST" action="{% url 'jediorder:create-quiz' %}">
            <input type="hidden" name="candidate_id" value="{{ candidate.id }}">
            {% for question in questions %}
                <p id="{{ question.id }}"><b>{{ question.question }}</b></p>
                <p>
                    <label class="radio-inline">
                        <input type="radio" name="{{ question.id }}" value="True" required> Да
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="{{ question.id }}" value="False"> Нет
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="{{ question.id }}" value="None"> Затрудняюсь ответить
                    </label>
                </p>
            {% endfor %}
            <input class="btn btn-danger" type="submit" value="Отправить">
        </form>
    </div>

{% endblock %}