{% load staticfiles %}
{% load bootstrap3 %}

<header>

    <div class="menu">
        <ul class="nav nav-pills nav-justified navbar-inverse">
            <li id="jedi"><a href="{% url 'jediorder:jedi' %}"><b>Джедай</b></a></li>
            <li id="candidate"><a href="{% url 'jediorder:candidate' %}"><b>Кандидат</b></a></li>
        </ul>
    </div>

</header>