{% load staticfiles %}
{% load bootstrap3 %}

<head>
    <meta charset="UTF-8">
    <title>Академия джедаев</title>

    <script src="{% bootstrap_jquery_url %}"></script>
    {% bootstrap_javascript %}
    {% bootstrap_css %}

    {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'styles/base.css' %}">
</head>