{% load staticfiles %}
{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="ru">

    {%  include 'blocks/head.html'  %}

    <body>

        {% include 'blocks/header.html' %}


        {% block content %}


        {% endblock %}

        {% include 'blocks/footer.html' %}


    </body>

</html>